<div id="add">
    <form>
      <h3 style="color: white;">ערוך עובד</h3>
        <div class="form-group">
          <label for="exampleInputEmail1"><p class="txt"> Name:</p></label>
          <input type="text" class="form-control"  aria-describedby="emailHelp" #name>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1"><p class="txt">Country:</p></label>
          <input type="text" class="form-control" #country>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1"><p class="txt">Salary:</p></label>
            <input type="text" class="form-control"  #salary>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"><p class="txt">Email:</p></label>
            <input type="text" class="form-control"  #email>
          </div>
        <button type="button" ><a [routerLink]="['/work']"> חזור לטבלה</a></button>
        <button type="button" (click)="editUser(name.value,country.value,salary.value,email.value)">ערוך</button>
        <p *ngIf="textFill" id="textFill1">{{textFill}}</p>
      </form>
</div>